#tituloPrincipal {
    color: blue;
    text-align: center;
    background-color: burlywood;
}

.parrafo {
    color: red;
    
}

.caja1{
    background-color: #C0392B;
    transition: background-color 1s linear;
}
.caja1:hover{
    background-color: #3f51b5;
    color: white;
}

.caja{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.imagen{
    height: auto;
    width: 200px;
}